extends layout

block content
    .login
        h1 Log in
        input(type="email",placeholder="Email")
        input(type="password",placeholder="Password")
        input(type="button", value="Log-in")


    .signin
        h1 Sign in
        input(type="email",placeholder="Email")
        input(type="password",placeholder="Password")
        input(type="password",placeholder="Confirm password")
        input(type="button", value="Sign-in")

    .user-profile
        h1 User profile
        p
            span Email:
            span Email value
        p
            span Country:
            span Country value
        


