doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='embraase', ng-controller="MainCtrl")

    div(ng-view)

    script(type="text/ng-template",id="login.html")
      .login
        h1 Log in
        input(type="text",placeholder="Email", "ng-model" = 'email')
        span.error(ng-show = 'email_error') Incorrect email
        input(type="password",placeholder="Password" , "ng-model" = 'password')
        span.error(ng-show = 'password_error') Incorrect password
        input(type="button", value="Log-in", ng-click = 'login()')

    script(type="text/ng-template",id="sign_up.html")
      .signup
        h1 Sign up
        input(type="email",placeholder="Email","ng-model" = 'email')
        span.error(ng-show = 'email_error') Incorrect email
        input(type="password",placeholder="Password","ng-model" = 'password')
        span.error(ng-show = 'password_error') Incorrect password
        input(type="password",placeholder="Confirm password" , "ng-model" = 'password_confirm')
        span.error(ng-show = 'confirm_password_error') Incorrect confirm password
        input(type="button", value="Sign-up", ng-click = 'signup()')

    script(type="text/ng-template",id="user_profile.html")
      .user-profile
        h1 User profile
        p
            span Email:
            span {{user.email}}
        p
            span Country:
            span {{user.country}}


    script(src='components/angular/angular.js')
    script(src='components/angular-route/angular-route.js')


    script(src="javascripts/main.js")
    script(src="javascripts/controllers/login.js")
    script(src="javascripts/controllers/sign_up.js")
    script(src="javascripts/controllers/user_profile.js")
    script(src="javascripts/controllers/main.js")







